### –¢–µ—Å—Ç–æ–≤–æ–µ –∑–∞–¥–∞–Ω–∏–µ

In [1]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\–ª–∏–ª–∏—è\appdata\local\programs\python\python312\lib\site-packages (2.0.40)
Requirement already satisfied: greenlet>=1 in c:\users\–ª–∏–ª–∏—è\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\–ª–∏–ª–∏—è\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.12.2)

In [2]:
import psycopg2
import pandas as pd

# –£—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ
conn = psycopg2.connect(
    dbname='test_db',
    user='test_user',
    password='test_pass',
    host='localhost',
    port=5432
)

# –ü–∏—à–µ–º SQL-–∑–∞–ø—Ä–æ—Å
query = '''
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'public';
'''

# –ß–∏—Ç–∞–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –∑–∞–ø—Ä–æ—Å–∞ –≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º
df = pd.read_sql(query, conn)
print(df)

  table_name
0     stores
1    product
2      sales
3  prod_disc

C:\Users\–õ–∏–ª–∏—è\AppData\Local\Temp\ipykernel_20400\444617832.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [3]:
pd.read_sql("SELECT * FROM sales LIMIT 5", conn)

C:\Users\–õ–∏–ª–∏—è\AppData\Local\Temp\ipykernel_20400\3973089995.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("SELECT * FROM sales LIMIT 5", conn)

   store_id date_of_day  art_no  sell_qty_colli  sell_val_gsp
0        59  2018-12-22  331716           1.000        253.39
1       356  2018-02-01  482308           4.000         97.82
2        55  2018-04-30  139947           1.000         57.45
3        65  2018-08-08  494125           1.000        465.25
4        18  2017-11-10  128556           1.175        950.66

## –ó–∞–¥–∞–Ω–∏–µ ‚Ññ1 ‚Äî –°—Ä–µ–¥–Ω—è—è —Ü–µ–Ω–∞ –ø—Ä–æ–¥–∞–∂–∏

### –ó–∞–¥–∞–Ω–∏–µ ‚Ññ1
###	–ù–∞ –æ—Å–Ω–æ–≤–∞–Ω–∏–∏ —Ç–∞–±–ª–∏—Ü—ã —Å –ø—Ä–æ–¥–∞–∂–∞–º–∏ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ —Ä–∞—Å—Å—á–∏—Ç–∞—Ç—å —Å—Ä–µ–¥–Ω—é—é —Ü–µ–Ω—É –ø—Ä–æ–¥–∞–∂–∏, –ø–æ —Å–ª–µ–¥—É—é—â–∏–º –∫—Ä–∏—Ç–µ—Ä–∏—è–º:
–¢–¶ 10, –∫–∞—Ç–µ–≥–æ—Ä–∏—è Wines
–ì–æ—Ä–æ–¥ Ekaterinburg, –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ Sweets –∏ Grocery

–ü–æ–ª—è –≤ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–µ:
store_id, cma, art_name, —Å—Ä–µ–¥–Ω—è—è —Ü–µ–Ω–∞ –ø—Ä–æ–¥–∞–∂–∏

In [4]:
query = '''
SELECT
    s.store_id,
    p.cma,
    p.art_name,
    ROUND(SUM(s.sell_val_gsp) / NULLIF(SUM(s.sell_qty_colli), 0), 2) AS avg_price
FROM sales s
JOIN product p ON s.art_no = p.art_no
JOIN stores st ON s.store_id = st.store_id
WHERE
    (s.store_id = 10 AND p.cma = 'Wines')
    OR
    (st.city_desc = 'Ekaterinburg' AND p.cma IN ('Sweets', 'Grocery'))
GROUP BY s.store_id, p.cma, p.art_name
ORDER BY avg_price DESC;
'''

pd.read_sql(query, conn)

C:\Users\–õ–∏–ª–∏—è\AppData\Local\Temp\ipykernel_20400\315620266.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql(query, conn)

Empty DataFrame
Columns: [store_id, cma, art_name, avg_price]
Index: []

In [5]:
# üìå –ü—Ä–æ–≤–µ—Ä–∫–∞ –¥–∞–Ω–Ω—ã—Ö –ø–æ —à–∞–≥–∞–º

# 1. –í—Å–µ –º–∞–≥–∞–∑–∏–Ω—ã
query = "SELECT * FROM stores;"
display(pd.read_sql(query, conn))

# 2. –ú–∞–≥–∞–∑–∏–Ω—ã –≤ –ï–∫–∞—Ç–µ—Ä–∏–Ω–±—É—Ä–≥–µ
query = "SELECT * FROM stores WHERE city_desc = 'Ekaterinburg';"
display(pd.read_sql(query, conn))

# 3. –î–æ—Å—Ç—É–ø–Ω—ã–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ —Ç–æ–≤–∞—Ä–æ–≤
query = "SELECT DISTINCT cma FROM product;"
display(pd.read_sql(query, conn))

# 4. –ü—Ä–æ–¥–∞–∂–∏ –≤ –º–∞–≥–∞–∑–∏–Ω–µ —Å ID = 10
query = "SELECT * FROM sales WHERE store_id = 10;"
display(pd.read_sql(query, conn))

# 5. –ü—Ä–æ–¥–∞–∂–∏ —Ç–æ–≤–∞—Ä–æ–≤ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ 'Wines'
query = '''
SELECT s.*, p.cma, p.art_name
FROM sales s
JOIN product p ON s.art_no = p.art_no
WHERE p.cma = 'Wines';
'''
display(pd.read_sql(query, conn))

# 6. –ü—Ä–æ–¥–∞–∂–∏ –∫–∞—Ç–µ–≥–æ—Ä–∏–π 'Sweets' –∏ 'Grocery' –≤ –ï–∫–∞—Ç–µ—Ä–∏–Ω–±—É—Ä–≥–µ
query = '''
SELECT s.*, p.cma, p.art_name, st.city_desc
FROM sales s
JOIN product p ON s.art_no = p.art_no
JOIN stores st ON s.store_id = st.store_id
WHERE st.city_desc = 'Ekaterinburg'
  AND p.cma IN ('Sweets', 'Grocery');
'''
display(pd.read_sql(query, conn))

C:\Users\–õ–∏–ª–∏—è\AppData\Local\Temp\ipykernel_20400\141075529.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  display(pd.read_sql(query, conn))

   store_id        city_desc    district
0        10           Moscow      Moscow
1        11           Moscow      Moscow
2        21  Nizhny Novgorod  North-West

C:\Users\–õ–∏–ª–∏—è\AppData\Local\Temp\ipykernel_20400\141075529.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  display(pd.read_sql(query, conn))

Empty DataFrame
Columns: [store_id, city_desc, district]
Index: []

C:\Users\–õ–∏–ª–∏—è\AppData\Local\Temp\ipykernel_20400\141075529.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  display(pd.read_sql(query, conn))

                   cma
0              Grocery
1  Fruits / Vegetables
2                 Fish

C:\Users\–õ–∏–ª–∏—è\AppData\Local\Temp\ipykernel_20400\141075529.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  display(pd.read_sql(query, conn))

Empty DataFrame
Columns: [store_id, date_of_day, art_no, sell_qty_colli, sell_val_gsp]
Index: []

C:\Users\–õ–∏–ª–∏—è\AppData\Local\Temp\ipykernel_20400\141075529.py:26: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  display(pd.read_sql(query, conn))

Empty DataFrame
Columns: [store_id, date_of_day, art_no, sell_qty_colli, sell_val_gsp, cma, art_name]
Index: []

C:\Users\–õ–∏–ª–∏—è\AppData\Local\Temp\ipykernel_20400\141075529.py:37: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  display(pd.read_sql(query, conn))

Empty DataFrame
Columns: [store_id, date_of_day, art_no, sell_qty_colli, sell_val_gsp, cma, art_name, city_desc]
Index: []

### –ü–æ—è—Å–Ω–µ–Ω–∏–µ –∫ –∑–∞–¥–∞–Ω–∏—é ‚Ññ1: –°—Ä–µ–¥–Ω—è—è —Ü–µ–Ω–∞ –ø—Ä–æ–¥–∞–∂–∏

**–£—Å–ª–æ–≤–∏–µ:**  
–ù–∞ –æ—Å–Ω–æ–≤–∞–Ω–∏–∏ —Ç–∞–±–ª–∏—Ü—ã —Å –ø—Ä–æ–¥–∞–∂–∞–º–∏ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ —Ä–∞—Å—Å—á–∏—Ç–∞—Ç—å —Å—Ä–µ–¥–Ω—é—é —Ü–µ–Ω—É –ø—Ä–æ–¥–∞–∂–∏, –ø–æ —Å–ª–µ–¥—É—é—â–∏–º –∫—Ä–∏—Ç–µ—Ä–∏—è–º:

- –ú–∞–≥–∞–∑–∏–Ω —Å `store_id = 10` –∏ –∫–∞—Ç–µ–≥–æ—Ä–∏—è —Ç–æ–≤–∞—Ä–∞ `Wines`
- –ì–æ—Ä–æ–¥ `Ekaterinburg` –∏ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ `Sweets` –∏–ª–∏ `Grocery`

**–û–∂–∏–¥–∞–µ–º—ã–µ –ø–æ–ª—è:**
- `store_id`, `cma`, `art_name`, `avg_price`


###  –ü–æ—á–µ–º—É —Ä–µ–∑—É–ª—å—Ç–∞—Ç –∑–∞–ø—Ä–æ—Å–∞ –ø—É—Å—Ç–æ–π?

–ó–∞–ø—Ä–æ—Å –≤—ã–ø–æ–ª–Ω–µ–Ω –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ, –æ–¥–Ω–∞–∫–æ –æ–Ω –Ω–µ –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç –Ω–∏ –æ–¥–Ω–æ–π —Å—Ç—Ä–æ–∫–∏. –≠—Ç–æ —Å–≤—è–∑–∞–Ω–æ —Å —Ç–µ–º, —á—Ç–æ **–≤ –∏—Å—Ö–æ–¥–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö –æ—Ç—Å—É—Ç—Å—Ç–≤—É—é—Ç –∑–Ω–∞—á–µ–Ω–∏—è**, —É–¥–æ–≤–ª–µ—Ç–≤–æ—Ä—è—é—â–∏–µ —É—Å–ª–æ–≤–∏—è–º:

- –í —Ç–∞–±–ª–∏—Ü–µ `product` **–Ω–µ—Ç —Ç–æ–≤–∞—Ä–æ–≤** —Å –∫–∞—Ç–µ–≥–æ—Ä–∏–µ–π `Wines`  
  ‚Üí —Å–º. —Ä–µ–∑—É–ª—å—Ç–∞—Ç –∑–∞–ø—Ä–æ—Å–∞ `SELECT DISTINCT cma FROM product;`

- –í —Ç–∞–±–ª–∏—Ü–µ `stores` **–Ω–µ—Ç –º–∞–≥–∞–∑–∏–Ω–æ–≤** –≤ –≥–æ—Ä–æ–¥–µ `Ekaterinburg`  
  ‚Üí —Å–º. —Ä–µ–∑—É–ª—å—Ç–∞—Ç –∑–∞–ø—Ä–æ—Å–∞ `SELECT DISTINCT city_desc FROM stores;`

---

### ‚úÖ –í—ã–≤–æ–¥:
–ó–∞–ø—Ä–æ—Å —Ä–∞–±–æ—Ç–∞–µ—Ç –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ, –Ω–æ –Ω–µ –Ω–∞—Ö–æ–¥–∏—Ç —Å–æ–≤–ø–∞–¥–µ–Ω–∏–π, –ø–æ—Ç–æ–º—É —á—Ç–æ –Ω—É–∂–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö (–∫–∞—Ç–µ–≥–æ—Ä–∏—è `Wines`, –≥–æ—Ä–æ–¥ `Ekaterinburg`) –ø—Ä–æ—Å—Ç–æ –Ω–µ—Ç –≤ —Ç–∞–±–ª–∏—Ü–∞—Ö.

---

## –ó–∞–¥–∞–Ω–∏–µ ‚Ññ2 ‚Äî –ü—Ä–æ–¥–∞–∂–∏ —Å–æ —Å–∫–∏–¥–∫–æ–π –∏ –±–µ–∑

### –ó–∞–¥–∞–Ω–∏–µ ‚Ññ2
###	–ù–∞ –æ—Å–Ω–æ–≤–∞–Ω–∏–∏ —Ç–∞–±–ª–∏—Ü—ã —Å –ø—Ä–æ–¥–∞–∂–∞–º–∏ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ —Ä–∞—Å—Å—á–∏—Ç–∞—Ç—å –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º —Å–∫–æ–ª—å–∫–æ –±—ã–ª–æ –ø—Ä–æ–¥–∞–Ω–æ –µ–¥–∏–Ω–∏—Ü —Ç–æ–≤–∞—Ä–∞ –∏ –Ω–∞ –∫–∞–∫—É—é —Å—É–º–º—É, –ø–æ —Ä–µ–≥—É–ª—è—Ä–Ω–æ–π —Ü–µ–Ω–µ –∏ –≤ —Ä–∞–º–∫–∞—Ö –ø—Ä–µ–¥–æ—Å—Ç–∞–≤–ª–µ–Ω–Ω–æ–π —Å–∫–∏–¥–∫–∏.

–ü–æ–ª—è –≤ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–µ:
–º–µ—Å—è—Ü –ø—Ä–æ–¥–∞–∂–∏, cma, –ø–µ—Ä–∏–æ–¥ —Å–æ —Å–∫–∏–¥–∫–æ–π\–±–µ–∑ —Å–∫–∏–¥–∫–∏, –∫–æ–ª-–≤–æ –µ–¥–∏–Ω–∏—Ü —Ç–æ–≤–∞—Ä–∞, —Å—É–º–º–∞ –ø—Ä–æ–¥–∞–∂–∏

In [ ]:
query = '''
SELECT
    TO_CHAR(s.date_of_day, 'YYYY-MM') AS sale_month,
    p.cma,
    CASE
        WHEN d.art_no IS NOT NULL THEN '—Å–æ —Å–∫–∏–¥–∫–æ–π'
        ELSE '–±–µ–∑ —Å–∫–∏–¥–∫–∏'
    END AS discount_flag,
    ROUND(SUM(s.sell_qty_colli), 2) AS total_qty,
    ROUND(SUM(s.sell_val_gsp), 2) AS total_sales
FROM sales s
JOIN product p ON s.art_no = p.art_no
LEFT JOIN prod_disc d
    ON s.art_no = d.art_no
   AND s.store_id = d.store_id
   AND s.date_of_day BETWEEN d.date_from AND d.date_to
GROUP BY
    TO_CHAR(s.date_of_day, 'YYYY-MM'),
    p.cma,
    discount_flag
ORDER BY
    sale_month,
    p.cma,
    discount_flag;

'''

df_check = pd.read_sql(query, conn)
display(df_check)

C:\Users\–õ–∏–ª–∏—è\AppData\Local\Temp\ipykernel_20400\360905391.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_check = pd.read_sql(query, conn)

Empty DataFrame
Columns: [store_id, date_of_day, art_no, date_from, date_to, disc_store_id, disc_art_no]
Index: []

###  –ü–æ—è—Å–Ω–µ–Ω–∏–µ –∫ –∑–∞–¥–∞–Ω–∏—é ‚Ññ2

–¶–µ–ª—å ‚Äî —Ä–∞—Å—Å—á–∏—Ç–∞—Ç—å –ø—Ä–æ–¥–∞–∂–∏ –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º —Ç–æ–≤–∞—Ä–æ–≤ –∏ –ø–æ –º–µ—Å—è—Ü–∞–º —Å —Ä–∞–∑–±–∏–≤–∫–æ–π –Ω–∞:

- –ø–µ—Ä–∏–æ–¥ **—Å–æ —Å–∫–∏–¥–∫–æ–π** (–µ—Å–ª–∏ –¥–∞—Ç–∞ –ø—Ä–æ–¥–∞–∂–∏ –ø–æ–ø–∞–¥–∞–µ—Ç –≤ –¥–∏–∞–ø–∞–∑–æ–Ω –¥–µ–π—Å—Ç–≤–∏—è —Å–∫–∏–¥–∫–∏)
- –ø–µ—Ä–∏–æ–¥ **–±–µ–∑ —Å–∫–∏–¥–∫–∏**

–ê–≥—Ä–µ–≥–∏—Ä–æ–≤–∞–Ω–∏–µ –≤—ã–ø–æ–ª–Ω—è–µ—Ç—Å—è:
- –ø–æ –º–µ—Å—è—Ü—É (`YYYY-MM`)
- –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ (`cma`)
- —Å —Ä–∞—Å—á—ë—Ç–æ–º:
  - –æ–±—â–µ–≥–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –ø—Ä–æ–¥–∞–Ω–Ω—ã—Ö –µ–¥–∏–Ω–∏—Ü (`SUM(sell_qty_colli)`)
  - –æ–±—â–µ–π —Å—É–º–º—ã –ø—Ä–æ–¥–∞–∂ (`SUM(sell_val_gsp)`)

–°—Ä–∞–≤–Ω–µ–Ω–∏–µ –≤—ã–ø–æ–ª–Ω—è–µ—Ç—Å—è —á–µ—Ä–µ–∑ `LEFT JOIN` `sales` —Å `prod_disc`, —á—Ç–æ–±—ã –æ–ø—Ä–µ–¥–µ–ª–∏—Ç—å, –¥–µ–π—Å—Ç–≤–æ–≤–∞–ª–∞ –ª–∏ —Å–∫–∏–¥–∫–∞ –Ω–∞ –º–æ–º–µ–Ω—Ç –ø—Ä–æ–¥–∞–∂–∏.

‚ö†Ô∏è –í —Ç–µ—Å—Ç–æ–≤–æ–º –¥–∞—Ç–∞—Å–µ—Ç–µ –æ—Ç—Å—É—Ç—Å—Ç–≤—É—é—Ç –ø–µ—Ä–µ—Å–µ—á–µ–Ω–∏—è –º–µ–∂–¥—É `sales` –∏ `prod_disc` –ø–æ `art_no`, `store_id` –∏ –¥–∞—Ç–µ ‚Äî –ø–æ—ç—Ç–æ–º—É –≤—Å–µ –ø—Ä–æ–¥–∞–∂–∏ –∫–ª–∞—Å—Å–∏—Ñ–∏—Ü–∏—Ä–æ–≤–∞–Ω—ã –∫–∞–∫ ¬´–±–µ–∑ —Å–∫–∏–¥–∫–∏¬ª.

---

## –ó–∞–¥–∞–Ω–∏–µ ‚Ññ3 ‚Äî –°–∫–∏–¥–∫–∏ –Ω–∞ –¥–∞—Ç—É

### –ó–∞–¥–∞–Ω–∏–µ ‚Ññ3
### 	–ù–∞ –æ—Å–Ω–æ–≤–∞–Ω–∏–∏ —Ç–∞–±–ª–∏—Ü—ã —Å –ø—Ä–µ–¥–æ—Å—Ç–∞–≤–ª–µ–Ω–Ω—ã–º–∏ —Å–∫–∏–¥–∫–∞–º–∏ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –≤—ã–≤–µ—Å—Ç–∏ —Å–ø–∏—Å–æ–∫ –∫–∞—Ç–µ–≥–æ—Ä–∏–π, –∞—Ä—Ç–∏–∫—É–ª–æ–≤, –∏—Ö –Ω–∞–∏–º–µ–Ω–æ–≤–∞–Ω–∏–π, –¢–¶, –Ω–∞–∑–≤–∞–Ω–∏–µ –≥–æ—Ä–æ–¥–æ–≤. –†–∞—Å—Å—á–∏—Ç–∞—Ç—å –ø—Ä–æ—Ü–µ–Ω—Ç —Å–∫–∏–¥–∫–∏ –Ω–∞ –∫–∞–∂–¥–æ–π –ø–æ–∑–∏—Ü–∏–∏.
–ö—Ä–∏—Ç–µ—Ä–∏–∏:
–ì–æ—Ä–æ–¥ Nizhny Novgorod
–ö–∞—Ç–µ–≥–æ—Ä–∏–∏ Drinks, Wines, Bakery
–î–∞—Ç–∞ –¥–µ–π—Å—Ç–≤–∏—è —Å–∫–∏–¥–∫–∏ 15 –º–∞—Ä—Ç–∞ 2018

–ü–æ–ª—è –≤ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–µ:
–≥–æ—Ä–æ–¥, –¢–¶, –∫–∞—Ç–µ–≥–æ—Ä–∏—è, –∞—Ä—Ç–∏–∫—É–ª, –Ω–∞–∏–º–µ–Ω–æ–≤–∞–Ω–∏–µ, % —Å–∫–∏–¥–∫–∏
–û—Å—Ç–∞–≤–∏—Ç—å —Ç–æ–ª—å–∫–æ —Ç–µ —Å—Ç—Ä–æ–∫–∏, –≥–¥–µ —Å–∫–∏–¥–∫–∞ –ø—Ä–µ–≤—ã—à–∞–µ—Ç 50%

In [7]:
query = '''
SELECT 
    st.city_desc AS city,
    d.store_id,
    p.cma,
    d.art_no,
    p.art_name,
    ROUND((d.old_colli_gsp - d.discount_colli_gsp) / d.old_colli_gsp * 100, 2) AS discount_percent
FROM prod_disc d
JOIN product p ON d.art_no = p.art_no
JOIN stores st ON d.store_id = st.store_id
WHERE DATE '2018-03-15' BETWEEN d.date_from AND d.date_to
  AND st.city_desc = 'Nizhny Novgorod'
  AND p.cma IN ('Drinks', 'Wines', 'Bakery')
  AND (d.old_colli_gsp - d.discount_colli_gsp) / d.old_colli_gsp > 0.5
ORDER BY discount_percent DESC;
'''

pd.read_sql(query, conn)

C:\Users\–õ–∏–ª–∏—è\AppData\Local\Temp\ipykernel_20400\3840533255.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql(query, conn)

Empty DataFrame
Columns: [city, store_id, cma, art_no, art_name, discount_percent]
Index: []

### –ü–æ—è—Å–Ω–µ–Ω–∏–µ –∫ –∑–∞–¥–∞–Ω–∏—é ‚Ññ3 

–ó–∞–ø—Ä–æ—Å –Ω–µ –≤–µ—Ä–Ω—É–ª –¥–∞–Ω–Ω—ã—Ö, —Ç–∞–∫ –∫–∞–∫ –Ω–∏ –æ–¥–Ω–∞ –∏–∑ –∑–∞–ø–∏—Å–µ–π –≤ —Ç–∞–±–ª–∏—Ü–µ `prod_disc` –Ω–µ –ø–æ–ø–∞–¥–∞–µ—Ç –Ω–∞ –¥–∞—Ç—É `15 –º–∞—Ä—Ç–∞ 2018 –≥–æ–¥–∞`, –∞ —Ç–∞–∫–∂–µ –≤ —Ç–∞–±–ª–∏—Ü–µ `product` –æ—Ç—Å—É—Ç—Å—Ç–≤—É—é—Ç —Ç–æ–≤–∞—Ä—ã —Å –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º–∏ `Drinks`, `Wines` –∏ `Bakery`. –ö—Ä–æ–º–µ —Ç–æ–≥–æ, –≤ —Ç–∞–±–ª–∏—Ü–µ `stores` —Ç–æ–ª—å–∫–æ –æ–¥–∏–Ω –¢–¶ –≤ –≥–æ—Ä–æ–¥–µ Nizhny Novgorod, –∏ –æ–Ω –Ω–µ —É—á–∞—Å—Ç–≤—É–µ—Ç –≤ –∑–∞–ø–∏—Å—è—Ö —Å–æ —Å–∫–∏–¥–∫–∞–º–∏.

–¢–∞–∫–∏–º –æ–±—Ä–∞–∑–æ–º, –≤—Å–µ —É—Å–ª–æ–≤–∏—è –∑–∞–¥–∞–Ω–∏—è –Ω–µ –≤—ã–ø–æ–ª–Ω—è—é—Ç—Å—è –æ–¥–Ω–æ–≤—Ä–µ–º–µ–Ω–Ω–æ –Ω–∏ –¥–ª—è –æ–¥–Ω–æ–π –∑–∞–ø–∏—Å–∏.

---

## –ó–∞–¥–∞–Ω–∏–µ ‚Ññ4 ‚Äî –¢–æ–ø-5 –∞—Ä—Ç–∏–∫—É–ª–æ–≤ –ø–æ –ø—Ä–æ–¥–∞–∂–∞–º

### –ó–∞–¥–∞–Ω–∏–µ ‚Ññ4
###	–ù–∞ –æ—Å–Ω–æ–≤–∞–Ω–∏–∏ —Ç–∞–±–ª–∏—Ü—ã –ø–æ –ø—Ä–æ–¥–∞–∂–∞–º –Ω–∞ —É—Ä–æ–≤–Ω–µ —Ä–µ–≥–∏–æ–Ω–∞ –≤ –∫–∞–∂–¥–æ–π –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ —Ç–æ–≤–∞—Ä–∞ –≤—ã–≤–µ—Å—Ç–∏ —Ç–æ–ø 5 –∞—Ä—Ç–∏–∫—É–ª–æ–≤ –ø–æ —Å—É–º–º–µ –ø—Ä–æ–¥–∞–∂ –≤ —Ä—É–±–ª—è—Ö. 

–ü–æ–ª—è –≤ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–µ:
—Ä–µ–≥–∏–æ–Ω, –∫–∞—Ç–µ–≥–æ—Ä–∏—è, –∞—Ä—Ç–∏–∫—É–ª, —Å—É–º–º–∞ –ø—Ä–æ–¥–∞–∂–∏

In [8]:
query = '''
WITH ranked_sales AS (
  SELECT 
    st.district AS region,
    p.cma AS category,
    s.art_no,
    ROUND(SUM(s.sell_val_gsp), 2) AS total_sales,
    ROW_NUMBER() OVER (PARTITION BY st.district, p.cma ORDER BY SUM(s.sell_val_gsp) DESC) AS rank
  FROM sales s
  JOIN stores st ON s.store_id = st.store_id
  JOIN product p ON s.art_no = p.art_no
  GROUP BY st.district, p.cma, s.art_no
)
SELECT region, category, art_no, total_sales
FROM ranked_sales
WHERE rank <= 5
ORDER BY region, category, total_sales DESC;
'''

pd.read_sql(query, conn)

C:\Users\–õ–∏–ª–∏—è\AppData\Local\Temp\ipykernel_20400\513382899.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql(query, conn)

Empty DataFrame
Columns: [region, category, art_no, total_sales]
Index: []

### –ü–æ—è—Å–Ω–µ–Ω–∏–µ –∫ –∑–∞–¥–∞–Ω–∏—é ‚Ññ4 

**–£—Å–ª–æ–≤–∏–µ:**  
–û–ø—Ä–µ–¥–µ–ª–∏—Ç—å —Ç–æ–ø-5 –∞—Ä—Ç–∏–∫—É–ª–æ–≤ –ø–æ —Å—É–º–º–µ –ø—Ä–æ–¥–∞–∂ –¥–ª—è –∫–∞–∂–¥–æ–π –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ —Ç–æ–≤–∞—Ä–∞ –Ω–∞ —É—Ä–æ–≤–Ω–µ —Ä–µ–≥–∏–æ–Ω–∞ (district).


–î–ª—è –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è –∑–∞–ø—Ä–æ—Å–∞ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ —Å–æ–µ–¥–∏–Ω–∏—Ç—å —Ç–∞–±–ª–∏—Ü—ã:
- `sales` ‚Äî –ø—Ä–æ–¥–∞–∂–∏ –ø–æ `store_id` –∏ `art_no`
- `product` ‚Äî –∫–∞—Ç–µ–≥–æ—Ä–∏—è –ø–æ `art_no`
- `stores` ‚Äî —Ä–µ–≥–∏–æ–Ω (`district`) –ø–æ `store_id`

–û–¥–Ω–∞–∫–æ:

1. –í —Ç–∞–±–ª–∏—Ü–µ `sales` –∏—Å–ø–æ–ª—å–∑—É—é—Ç—Å—è –∞—Ä—Ç–∏–∫—É–ª–∞ (`art_no`), –∫–æ—Ç–æ—Ä—ã—Ö **–Ω–µ—Ç –≤ —Å–ø—Ä–∞–≤–æ—á–Ω–∏–∫–µ `product`** ‚Üí –Ω–µ–≤–æ–∑–º–æ–∂–Ω–æ –æ–ø—Ä–µ–¥–µ–ª–∏—Ç—å –∫–∞—Ç–µ–≥–æ—Ä–∏—é.
2. –ú–Ω–æ–≥–∏–µ `store_id` –∏–∑ `sales` **–Ω–µ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω—ã –≤ —Å–ø—Ä–∞–≤–æ—á–Ω–∏–∫–µ `stores`** ‚Üí –Ω–µ–≤–æ–∑–º–æ–∂–Ω–æ –æ–ø—Ä–µ–¥–µ–ª–∏—Ç—å —Ä–µ–≥–∏–æ–Ω.
3. –í —Ä–µ–∑—É–ª—å—Ç–∞—Ç–µ —Å–æ–µ–¥–∏–Ω–µ–Ω–∏—è `sales JOIN product JOIN stores` –Ω–µ —Ñ–æ—Ä–º–∏—Ä—É–µ—Ç—Å—è –Ω–∏ –æ–¥–Ω–æ–π —Å—Ç—Ä–æ–∫–∏.

---

### ‚úÖ –í—ã–≤–æ–¥

–ó–∞–ø—Ä–æ—Å –Ω–∞–ø–∏—Å–∞–Ω –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ, –æ–¥–Ω–∞–∫–æ **–≤ —Ç–µ—Å—Ç–æ–≤—ã—Ö –¥–∞–Ω–Ω—ã—Ö –æ—Ç—Å—É—Ç—Å—Ç–≤—É—é—Ç —Å–≤—è–∑–∏ –º–µ–∂–¥—É —Ç–∞–±–ª–∏—Ü–∞–º–∏**, –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã–µ –¥–ª—è –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è –∑–∞–¥–∞–Ω–∏—è:
- –æ—Ç—Å—É—Ç—Å—Ç–≤—É—é—Ç –∞—Ä—Ç–∏–∫—É–ª–∞-–ø—Ä–æ–¥—É–∫—Ç—ã,
- –æ—Ç—Å—É—Ç—Å—Ç–≤—É—é—Ç –º–∞–≥–∞–∑–∏–Ω—ã-—Ä–µ–≥–∏–æ–Ω—ã.

–ü–æ—ç—Ç–æ–º—É —Ä–µ–∑—É–ª—å—Ç–∞—Ç –∑–∞–ø—Ä–æ—Å–∞ ‚Äî –ø—É—Å—Ç–æ–π.

---

## –ó–∞–¥–∞–Ω–∏–µ ‚Ññ5 ‚Äî –ù–∞–∫–æ–ø–∏—Ç–µ–ª—å–Ω—ã–π –∏—Ç–æ–≥ –ø–æ –ø—Ä–æ–¥–∞–∂–∞–º

### –ó–∞–¥–∞–Ω–∏–µ ‚Ññ5
###	–ù–∞ –æ—Å–Ω–æ–≤–∞–Ω–∏–∏ —Ç–∞–±–ª–∏—Ü—ã —Å –ø—Ä–æ–¥–∞–∂–∞–º–∏, –ø–æ—Å—á–∏—Ç–∞—Ç—å –Ω–∞–∫–æ–ø–∏—Ç–æ–ª—å–Ω—É—é —Å—É–º–º—É –ø—Ä–æ–¥–∞–∂–∏ –∑–∞ 22 –≥–æ–¥ –≤ —Ä–∞–∑–±–∏–≤–∫–µ –ø–æ –º–µ—Å—è—Ü–∞–º.
–ü–æ–ª—è –≤ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–µ:
–º–µ—Å—è—Ü, –Ω–∞–∫–æ–ø–∏—Ç–µ–ª—å–Ω—ã–π –∏—Ç–æ–≥

In [9]:
query = '''
WITH monthly_sales AS (
    SELECT
        TO_CHAR(date_of_day, 'YYYY-MM') AS month,
        SUM(sell_val_gsp) AS monthly_total
    FROM sales
    WHERE EXTRACT(YEAR FROM date_of_day) = 2022
    GROUP BY TO_CHAR(date_of_day, 'YYYY-MM')
)
SELECT
    month,
    ROUND(SUM(monthly_total) OVER (ORDER BY month), 2) AS cumulative_total
FROM monthly_sales
'''
pd.read_sql(query, conn)

C:\Users\–õ–∏–ª–∏—è\AppData\Local\Temp\ipykernel_20400\564347703.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql(query, conn)

Empty DataFrame
Columns: [month, cumulative_total]
Index: []

### –ü–æ—è—Å–Ω–µ–Ω–∏–µ –∫ –ó–∞–¥–∞–Ω–∏—é ‚Ññ5
–¶–µ–ª—å: —Ä–∞—Å—Å—á–∏—Ç–∞—Ç—å –Ω–∞–∫–æ–ø–∏—Ç–µ–ª—å–Ω—ã–π –∏—Ç–æ–≥ –ø—Ä–æ–¥–∞–∂ –ø–æ –º–µ—Å—è—Ü–∞–º –∑–∞ 2022 –≥–æ–¥.

 –ß—Ç–æ –¥–µ–ª–∞–µ—Ç –∑–∞–ø—Ä–æ—Å:

–°–Ω–∞—á–∞–ª–∞ —Å –ø–æ–º–æ—â—å—é WITH monthly_sales AS (...) –º—ã —Å–æ–±–∏—Ä–∞–µ–º —Å—É–º–º—ã –ø—Ä–æ–¥–∞–∂ (sell_val_gsp) –ø–æ –∫–∞–∂–¥–æ–º—É –º–µ—Å—è—Ü—É ‚Äî —Ñ–æ—Ä–º–∞—Ç–∏—Ä—É–µ–º –¥–∞—Ç—É —á–µ—Ä–µ–∑ TO_CHAR(date_of_day, 'YYYY-MM').

–û–≥—Ä–∞–Ω–∏—á–∏–≤–∞–µ–º –≤—ã–±–æ—Ä–∫—É —Ç–æ–ª—å–∫–æ 2022 –≥–æ–¥–æ–º —á–µ—Ä–µ–∑ EXTRACT(YEAR FROM date_of_day) = 2022.

–°—á–∏—Ç–∞–µ–º –Ω–∞–∫–æ–ø–∏—Ç–µ–ª—å–Ω—É—é —Å—É–º–º—É (cumulative_total) —Å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ–º –æ–∫–æ–Ω–Ω–æ–π —Ñ—É–Ω–∫—Ü–∏–∏ SUM(...) OVER (ORDER BY month) ‚Äî –æ–Ω–∞ –¥–æ–±–∞–≤–ª—è–µ—Ç –∫–∞–∂–¥–æ–µ –ø–æ—Å–ª–µ–¥—É—é—â–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –∫ –ø—Ä–µ–¥—ã–¥—É—â–∏–º.

 –ü–æ—á–µ–º—É —Ä–µ–∑—É–ª—å—Ç–∞—Ç –ø—É—Å—Ç–æ–π:
–í —Ç–∞–±–ª–∏—Ü–µ sales, –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–Ω–æ–π –≤ —Ç–µ—Å—Ç–æ–≤—ã—Ö –¥–∞–Ω–Ω—ã—Ö, –æ—Ç—Å—É—Ç—Å—Ç–≤—É—é—Ç –ø—Ä–æ–¥–∞–∂–∏ –∑–∞ 2022 –≥–æ–¥ ‚Äî –µ—Å—Ç—å —Ç–æ–ª—å–∫–æ –¥–∞–Ω–Ω—ã–µ –∑–∞ 2017‚Äì2018. –ü–æ—ç—Ç–æ–º—É –¥–∞–∂–µ –∫–æ—Ä—Ä–µ–∫—Ç–Ω—ã–π –∑–∞–ø—Ä–æ—Å –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç –ø—É—Å—Ç—É—é —Ç–∞–±–ª–∏—Ü—É ‚Äî —ç—Ç–æ –æ–∂–∏–¥–∞–µ–º–æ, –∞ –Ω–µ –æ—à–∏–±–∫–∞.